{% extends "layout.html" %}

{% block content %}
    <h1>DEVGIF</h1>

    <p>
    Bored of cat gifs? With devgif you can easily insert dev-related gifs to <a href="https://twistapp.com">Twist</a> or
    <a href="https://slack.com">Slack</a>.
    </p>

    <p>
    The excellent <a href="http://devopsreactions.tumblr.com/">DevOps Reactions</a> is used as source.
    </p>

    <h3>Try it</h3>
    <form action="/gif" method="get">
        <input type="text" name="q" value="friday deploy" />
        <input type="submit" value="Search" />
    </form>

    <h3>Installing in Twist</h3>
    <a href="https://twistapp.com/integrations/install/9_f556477c03201eeddb59fa10">Visit the installation page</a> and select your team.

    <h3>Installing in Slack</h3>

    <h3>About</h3>
    Made by <a href="http://daremon.gr">Dimitris Giannitsaros</a>. Code is available on GitHub.


{% endblock %}